body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
/******************** LOGIN ********************/
::placeholder {
    color: #4799F4;
}
:-ms-input-placeholder {
    color: #4799F4;
}

::-ms-input-placeholder {
    color: #4799F4;
}
.bold {
    font-weight: bold;
}
*:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
.page-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    border: 1px solid #E1E1E1;
    width: 370px;
    height: 680px;
    margin: auto;
    transform: translate(0,-50%);
}
.upper-box {
    position: relative;
    background-color: #4799F4;
    width: 100%;
    height: 220px;
}
.upper-box p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
}
.lower-box {
    position: relative;
    width: 100%;
    height: calc(100% - 220px);
}
.lower-box input, .signup-lower-box input, .lower-box button {
    width: 100%;
    height: 45px;
    border-radius: 50px;
}
.lower-box input, .signup-lower-box input {
    border: 2px solid #C1E1FA;
    color: #4799F4;
    padding: 0 15px;
    font-size: 13px;
}
.login-wrapper, .action-wrapper {
    position: relative;
    width: 80%;
    height: 50%;
    margin: auto;
}
.form-wrapper, .btn-wrapper {
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    
}
#signin-btn {
    border: 2px solid #4799F4;
    background-color: #4799F4;
    color: #FFFFFF;
}
#signup-btn {
    border: 2px solid #4799F4;
    color: #4799F4;
}
.form-wrapper input:nth-child(2), .btn-wrapper button:nth-child(2) {
    margin: 15px 0;
}

/******************** SIGNUP ********************/
.signup-header, .naver-captcha-header{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #4799F4;
}
.signup-header img, #test_backward {
    z-index: 9999;
    position: absolute;
    width: 17px;
    bottom: 16px;
    left: 15px;
}
#backward:hover, #test_backward:hover {
    cursor: pointer;
}
.signup-header p, .naver-captcha-header p{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.signup-lower-box, .naver-captcha-lower-box, .google-captcha-lower-box {
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
}
.signup-wrapper, .captcha-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
} 
.signup-wrapper {
    height: 35%;
}
.captcha-wrapper {
    height: 65%;
}
.captcha-wrapper p.header {
    color: #4799F4;
    margin: 8px 0;
    font-size: 14px;
}
.canvas-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    border: 2px solid #C1E1FA;
    border-radius: 12px;
}
#start-captcha {
    position: absolute;
    z-index: 9998;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
#captcha-success {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
#success-bg {
    position: absolute;
    background-color: #BDBDBD;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
#captcha-success img {
    position: absolute;
    width: 40px;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}
#captcha-success p {
    position: absolute;
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 100px;
    font-size: 14px;
    font-weight: bold;
}
#start-captcha button {
    width: fit-content;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #4799F4;
    color: #FFFFFF;
    border: none;
    height: 25px;
    border-radius: 25px;
}
#loading-text {
    display: none;
    text-align: center;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.canvas-wrapper p {
    z-index: 9000;
    position: absolute;
    color: #4799F4;
    font-size: 17px;
    margin: 8px;
}
.canvas-wrapper p>span {
    font-weight: bold;
}
#canvas-btn-wrapper {
    z-index: 9000;
    position: absolute;
    margin: 8px;
    right: 0;
}
#canvas-btn-wrapper button {
    border: none;
    width: fit-content;
    height: 20px;
    border-radius: 50px;
    color: #FFFFFF;
}
#canvas-btn-wrapper button:first-child {
    background-color: #4799F4;
}
#canvas-btn-wrapper button:last-child {
    background-color: #C8C8C8;
}
.canvas-container {
    position: absolute !important;
    width: 100% !important;
    height: calc(100% - 35px) !important;
    bottom: 0 !important;
}
canvas {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
}
#confirm-signup {
    display: none;
    background-color: #4799F4;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
}
/******************** MAIN ********************/
.main-upper-box {
    position: relative;
    background-color: #4799F4;
    width: 100%;
    height: 240px;
}
.device {
    color: #FFFFFF;
    position: absolute;
    left: 15px;
}
.profile {
    position: absolute;
    width: 60px;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
#logout {
    position: absolute;
    width: 25px;
    right: 15px;
    top: 15px;
}
#logout:hover {
    cursor: pointer;
}
#user-email {
    position: absolute;
    width: fit-content;
    color: #FFFFFF;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    font-size: 17px;
}
.option-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 240px);
}
.option {
    position: relative;
    width: 100%;
    height: 33.333%;
}
.option:hover {
    cursor: pointer;
}
.option img {
    position: absolute;
    top: 50%;
    width: 93px;
    left: 30px;
    transform: translate(0, -50%);
}
.option-text-wrapper {
    text-align: center;
    position: absolute;
    width: 180px;
    right: 30px;
    top: 50%;
    transform: translate(0,-50%);
}
.option-text-wrapper p {
    color: #4799F4;
    margin: 10px;
}
.captcha-name {
    font-weight: bold;
    font-size: 20px;
}
.option:nth-child(1) {
    background-color: #F2F9FE;
}
.option:nth-child(2) {
    background-color: #C2DFFA;
}
.option:nth-child(3) {
    background-color: #8DC3F8;
}

/******************** Drawing Captcha test Page ********************/
.captcha-test-wrapper {
    position: absolute;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}

/******************** Naver Captcha test Page ********************/
.naver-captcha-wrapper{
    /* border:3px solid black; */
    background-color:	#f4f0f0;
    padding:10px;
}

.naver-captcha-wrapper p{
    font-size:12px;
    margin:0;
}
.naver-captcha-image-wrapper{
    width: 70%;
    height: 80px;
    vertical-align: top;
}
.naver-captcha-image-wrapper img {
    width: 100%;
    height: 100%;
}
.naver-captcha-nextCaptcha-wrapper{
    width: calc(30% - 5px);
    height: 80px;
}
.naver-captcha-nextCaptcha-wrapper button {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: none;
}
#value {
    border: none;
    width: 100%;
    margin: 5px 0;
    height: 30px; 
}
.naver-captcha-form{
    text-align: center;
}

.naverCaptcha-center{
    position: absolute;
    margin: auto;
    width:90%;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}
.test-round-number-wrapper{
    float:right;
    margin-right:10px; 
    margin-top:10px;   
}

.test-round-number-wrapper div{
    display: inline-block;
    font:  bold 50px arial;
    color:#2699FB;
}

.naver-captcha-image-and-btn-wrapper div{
    display: inline-block;
    
}
.naver-captcha-image-and-btn-wrapper {
    width: 100%;
}
.gray-border {
    border: 1px solid #EAEAEA !important;
}
#btnSendValidationCheck {
    background-color: #4799F4;
    border: none;
    color: #FFFFFF;
    margin: 10px;
    width: 50%;
    height: 30px;
    border-radius: 40px;
}
#start-btn-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 9999;
    background-color: #EAEAEA;
}
#btnStart {
    border: none;
    width: 150px;
    height: 40px;
    background-color: #4799F4;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}

/******************** Google Captcha test Page ********************/
.google-captcha-wrapper{
    /* border:3px solid black; */
    background-color:	#f4f0f0;
    padding:10px;
}

.google-captcha-wrapper p{
    font-size:12px;
    margin:0;
}

.googleCaptcha-center{
    position: absolute;
    margin: auto;
    width:90%;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

#refreshCaptcha, #checkCaptcha {
    background-color: #4799F4;
    border: none;
    color: #FFFFFF;
    margin: 10px;
    width: 50%;
    height: 30px;
    border-radius: 40px;
}

.google-captcha-form{
    text-align: center;
}

/******************** Admin & Stats Page ********************/
#stats-btn {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 80%;
    height: 35px;
    margin: auto;
    border: none;
    background-color: #4799F4;
    border-radius: 50px;
    color: #FFFFFF;
}
.stats-page-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #000000;
    width: 900px;
    padding: 30px;
    height: fit-content;
}
.main-info p, .main-info span {
    color: #4799F4;
}
.stats-header {
    font-size: 35px;
    margin-top: 15px;
}
.desc-header {
    font-size: 25px;
    margin: 0;
}
.desc-text {
    font-size: 15px;
    margin: 0;
}
.participants-count-wrapper {
    margin: 20px;
    width: fit-content;
}
.participants-count-wrapper span {
    display: block;
}
.mobile-count-wrapper, .browser-count-wrapper {
    width: fit-content;
    display: inline-block;
    text-align: center;
    padding: 15px;
}
#mobile-count, #browser-count {
    font-size: 40px;
}
.device-text {
    font-size: 20px;
}