<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>NAVER CAPTCHA TEST</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <div class="page-wrapper">
        <section class="naver-captcha-header">
            <p>NAVER Captcha</p>
        </section>
        <section class="naver-captcha-lower-box">
            <div class="test-round-wrapper">
                <div class="test-round-number-wrapper">
                    <div id="current-round">0</div>
                    <div>/10</div>
                </div>
            </div>
            <div class="naver-captcha-wrapper naverCaptcha-center">
                <div>
                    <p>아래 이미지를 보이는 대로 입력해 주세요</p>
                </div>
                <div class="naver-captcha-image-and-btn-wrapper">
                    <div class="naver-captcha-image-wrapper">
                        <!-- <img src='static/captchaImage/captcha1558369603.jpg'> -->
                    </div>

                    <div class="naver-captcha-nextCaptcha-wrapper">
                        <button type="button" id="btnNextCaptcha">Refresh</button>
                    </div>
                </div>


                <div class="naver-captcha-form">
                    <input type="hidden" id="key" name="key">
                    <input type="text" id="value" name="value">
                    <button type="button" id="btnSendValidationCheck">전송</button>
                </div>
            </div>
            <div>
                <button type="button" id="btnStart">시작</button>
            </div>
            <div>
                <button type="button" id="btnSuccess">돌아가기</button>
            </div>
        </section>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/naverCaptcha.js"></script>
</body>

</html>