<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drawing Captcha</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page-wrapper">
        <section class="naver-captcha-header">
            <p>Drawing Captcha</p>
        </section>
        <section class="naver-captcha-lower-box">
            <div class="test-round-wrapper">
                <div class="test-round-number-wrapper">
                    <div id="current-round">1</div>
                    <div>/10</div>
                </div>
            </div>
            <div>
                <div class="captcha-test-wrapper">
                    <!-- <p class="header">Draw the following</p> -->
                    <br>
                    <div class="canvas-wrapper">
                        <div id="start-captcha">
                            <p id="loading-text">Please wait....</p>
                            <button id="start-captcha-btn">I'm not a robot</button>
                        </div>
                        <div id="captcha-success">
                            <div id="success-bg"></div>
                            <img src="../static/images/success.png" alt="">
                            <p>You are not a robot</p>
                        </div>
                        <p>Draw: <span id="draw-word"></span></p>
                        <div id="canvas-btn-wrapper">
                            <button id="new-word">New word</button>
                            <button id="re-draw">Re-draw</button>
                        </div>
                        <canvas id="drawing-section"></canvas>
                    </div>
                    <button id="confirm-signup">CONTINUE</button>
                </div>
            </div>
        </section>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.0"> </script>
    <script src="../static/js/fabric.js"></script>
    <script src="../static/js/drawingCaptchaTest.js"></script>
    <script src="../static/js/firebase.js"></script>
    <script src="../static/js/authentification.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>