<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page-wrapper">
        <section class="signup-header">
            <p>GOOGLE RECAPTCHA v2</p>
        </section>
        <section class="signup-lower-box">
            <!-- <div class="signup-wrapper">
            </div> -->
            <div class="captcha-wrapper">
                <br>
                <div class="canvas-wrapper">
                    <title>reCAPTCHA demo: Running both v2 and v3</title>
                    <form action="URL: https://www.google.com/recaptcha/api/siteverify" method="POST">
                        <div class="g-recaptcha" id="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                        <br/>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.0"> </script>
    <script src="../static/js/fabric.js"></script>
    <script src="../static/js/captcha.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>