<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOG IN</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page-wrapper">
        <section class="upper-box">
            <p>CAPTCHA <span class="bold">LOGIN</span></p>
        </section>
        <section class="lower-box">
            <div class="login-wrapper">
                <div class="form-wrapper">
                    <input type="text" placeholder="이메일을 입력하세요">
                    <input type="password" placeholder="비밀번호를 입력하세요">
                </div>
            </div>
            <div class="action-wrapper">
                <div class="btn-wrapper">
                    <button id="signin-btn">SIGN IN</button>
                    <button id="signup-btn">SIGN UP</button>
                </div>
            </div>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>