<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STATISTICS</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>
    <div class="stats-page-wrapper">
        <section class="main-info">
            <p class="stats-header bold">STATISTICS</p>
            <div class="stats-description-wrapper">
                <p class="desc-header bold">Number of Participants</p>
                <p class="desc-text">Each Participants have done 10 rounds of each test</p>
            </div>
            <div class="participants-count-wrapper">
                <div class="mobile-count-wrapper">
                    <span class="bold" id="mobile-count">0</span>
                    <span class="device-text">Mobile</span>
                </div>
                <div class="browser-count-wrapper">
                    <span class="bold" id="browser-count">0</span>
                    <span class="device-text">Broswer</span>
                </div>
            </div>
        </section>
        <section class="graph-section">
            <div class="pc-stats">
                <p class="desc-header bold">PC</p>
                <div class="stats-wrapper">
                    <p class="captcha-type">- Drawing Captcha</p>
                    <p class="graph-header">Average time taken</p>
                    <div id="pc-drawing-time-graph" class="graph"></div>
                    <p class="graph-header">Fail counts</p>
                    <div id="pc-drawing-fail-graph" class="graph"></div>
                </div>
                <div class="stats-wrapper">
                    <p class="captcha-type">- Naver Captcha</p>
                    <p class="graph-header">Average time taken</p>
                    <div id="pc-naver-time-graph" class="graph"></div>
                    <p class="graph-header">Fail counts</p>
                    <div id="pc-naver-fail-graph" class="graph"></div>
                </div>
                <div class="stats-wrapper">
                    <p class="captcha-type">- Google Captcha</p>
                    <p class="graph-header">Average time taken</p>
                    <div id="pc-google-time-graph" class="graph"></div>
                    <p class="graph-header">Fail counts</p>
                    <div id="pc-google-fail-graph" class="graph"></div>
                </div>
            </div>
            <div class="mobile-stats">
                <p class="desc-header bold">Mobile</p>
                <div class="stats-wrapper">
                    <p class="captcha-type">- Drawing Captcha</p>
                    <p class="graph-header">Average time taken</p>
                    <div id="mobile-drawing-time-graph" class="graph"></div>
                    <p class="graph-header">Fail counts</p>
                    <div id="mobile-drawing-fail-graph" class="graph"></div>
                </div>
                <div class="stats-wrapper">
                    <p class="captcha-type">- Naver Captcha</p>
                    <p class="graph-header">Average time taken</p>
                    <div id="mobile-naver-time-graph" class="graph"></div>
                    <p class="graph-header">Fail counts</p>
                    <div id="mobile-naver-fail-graph" class="graph"></div>
                </div>
                <div class="stats-wrapper">
                    <p class="captcha-type">- Google Captcha</p>
                    <p class="graph-header">Average time taken</p>
                    <div id="mobile-google-time-graph" class="graph"></div>
                    <p class="graph-header">Fail counts</p>
                    <div id="mobile-google-fail-graph" class="graph"></div>
                </div>
            </div>
            <div></div>
        </section>
    </div>
    <div class="animationload">
        <div class="osahanloading"></div>
    </div>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/loading.js"></script>
    <script src="../static/js/firebase.js"></script>
    <script src="../static/js/pc_time_graph.js"></script>
    <script src="../static/js/pc_fail_graph.js"></script>
    <script src="../static/js/mobile_time_graph.js"></script>
    <script src="../static/js/mobile_fail_graph.js"></script>
    <script src="../static/js/firebaseIO.js"></script>
    <script src="../static/js/main.js"></script>
    <script>
        getDeviceCountFromDB();
    </script>
</body>
</html>