<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STATISTICS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="stats-page-wrapper">
        <section class="main-info">
            <p class="stats-header bold">STATISTICS</p>
            <div class="stats-description-wrapper">
                <p class="desc-header bold">Number of Participants</p>
                <p class="desc-text">Each Participants have done 10 rounds of each test</p>
            </div>
            <div class="participants-count-wrapper">
                <div class="mobile-count-wrapper">
                    <span class="bold" id="mobile-count">10</span>
                    <span class="device-text">Mobile</span>
                </div>
                <div class="browser-count-wrapper">
                    <span class="bold" id="browser-count">10</span>
                    <span class="device-text">Broswer</span>
                </div>
            </div>
        </section>
        <section class="graph-section"></section>
    </div>
</body>
</html>